html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

ul:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

blockquote {
  margin: 0;
}


body {
  min-width: 320px;
  font-family: "Inter", "Playfair Display", sans-serif;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  object-fit: cover;
}

/* fonts */


@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --lilovyy: #7449bb;
  --black: #1b1b1b;
  --white: #fff;
  --font-family: "Inter", sans-serif;
  --second-family: "Playfair Display", sans-serif;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

@media (any-hover: hover) {}


/* header */

.header {
  margin-bottom: 100px;
}

.header__inner {
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.header__title {
  margin-left: auto;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);
}

.menu {
  margin-left: 130px;
  margin-right: 185px;
}

.menu__item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--black);
}


.user-nav {
  display: flex;
  gap: 0 20px;
}


/* top */
.top {
  margin-bottom: 100px;
}

.top-slide__inner {
  min-height: 700px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.top-slide__content {
  margin-top: -88px;
  flex-basis: 183px;
}

.swiper-pagination {
  display: none;
}

.top__title {
  margin-bottom: 56px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 70px;
  text-transform: uppercase;
  color: var(--black);
}

.top__subtitle {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}

.top__text {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
}

.top__btn {
  margin-left: auto;
  display: inline-block;
  padding: 21px 55px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: var(--lilovyy);
  border: 1px solid var(--lilovyy);
  transition: all 0.3s ease-in-out;
}

/* стандартная пагинация свайпера */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}

.container-arrow {
  position: relative;
  padding: 0;
  max-width: 1200px;
}

.top .swiper {
  padding-bottom: 50px;
}

.swiper-button-next {
  left: 75px;
  right: auto;
}

.swiper-button-prev svg:hover {
  stroke: var(--lilovyy);
}



/* about */

.about {
  margin-bottom: 100px;
  overflow: hidden;
}

.about__inner {
  padding-left: 200px;
}

.about__title {
  max-width: 185px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--black);
}

.about__textbox {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about__text p {
  margin-bottom: 15px;
}

.about__text {
  flex-basis: 387px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
}

.about__text--bold {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: var(--black);
}

.about__item-title {
  margin-bottom: 20px;
}

.about__slider {
  width: 1800px;
  padding-left: 200px;
  padding-bottom: 20px;
  margin-left: -200px;
}

.about__arrow {
  margin-top: -4px;
  margin-left: -196px;
}

.about__btn {
  display: inline-block;
  padding: 21px 55px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  border: 1px solid var(--lilovyy);
  color: var(--lilovyy);
  transition: all 0.3s ease-in-out;
}


.container-arrow .swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}



/* accordion */

.accordion {
  margin-bottom: 223px;
}

.accordion__inner {
  padding-left: 200px;
}

.accordion__item {
  position: relative;
  padding: 0 101px 0 0;
  border-bottom: 1px solid var(--black);
}

.accordion__item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 51px;
  background-image: url(../img/arrow-down.svg);
  right: 85px;
  top: 50px;
}

.accordion__item:last-child::after {
  content: '';
  position: absolute;
  background-image: url(../img/accordion-img.png);
  width: 65px;
  height: 120px;
  bottom: -73px;
  left: 268px;
}

.accordion__trigger {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion__trigger-title {
  padding-bottom: 42px;
  flex-basis: 300px;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #000;
}

.accordion__trigger-text {
  padding-bottom: 20px;
  flex-basis: 387px;
  margin-right: 104px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.accordion__content {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accordion__item--active .accordion__content {
  display: block;
}

.accordion__content p {
  margin-bottom: 10px;
}


/* products */
.products {
  margin-bottom: 150px;
}

.products__inner {
  position: relative;
  min-height: 647px;
}

.products__title {
  max-width: 96px;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: #000;
}

.products__items {
  position: absolute;
  top: 0;
  left: 200px;
  display: flex;
  gap: 0 20px;
}

.products__item {
  text-align: center;
}

.products__item-step {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.products__item-img {
  margin-bottom: 20px;
}

.products__item-name {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.products__item-name span {
  display: block;
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.products__item-price {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: #000;
}

/* video */

.video {
  margin-bottom: 150px;
  overflow: hidden;
}


.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}

.video__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.7);
  transition: all 0.4s ease-in-out;
}


.video__box {
  position: relative;
  margin-left: auto;
  max-width: 997px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}


/* footer */

.footer {
  padding-top: 66px;
  padding-bottom: 102px;
  background-color: #C4A9CD;
}

.footer__top {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 70px;
}


.footer__logo {
  margin-right: 10px;
}

.footer__item+.footer__item {
  margin-top: 70px;
}

.footer__item-title {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.footer__item-form {
  position: relative;
}

.footer__item-input {
  width: 100%;
  display: block;
  padding: 10px 0;
  border: none;
  padding-right: 60px;
  outline: none;
  border-bottom: 1px solid var(--black);
  background-color: transparent;
}

.footer__item-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.footer__item-btn {
  position: absolute;
  right: 0;
  top: 10px;
}

.footer__items {
  flex-basis: 387px;
}

.footer__item-list li {
  padding-top: 10px;
}

.footer__social-list {
  margin-left: 10px;
  align-self: flex-end;
}

.footer__social-item+.footer__social-item {
  margin-top: 20px;
}

.footer__nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 105px;
}


.footer__nav-list {
  display: flex;
  gap: 0 20px;
}



@media (any-hover: hover) {
  .top__btn:hover {
    color: var(--white);
    background-color: var(--lilovyy);
  }

  .about__btn:hover {
    color: var(--white);
    background-color: var(--lilovyy);
  }

  a:hover {
    color: var(--lilovyy);
  }

  .video__link:hover::before {
    background: rgba(36, 43, 51, 0.5);
  }

  .video__link:hover .video__icon {
    transform: scale(1.4) translate(-50%, -50%);
    filter: saturate(1.5);
  }

  /* универсльный код для перекраски СВГ картинок вставленных в кол как СВГ */
  svg *[fill] {
    fill: currentColor
  }

  svg *[stroke] {
    stroke: currentColor
  }


  svg * {
    transition-property: fill, stroke;
  }
}
